@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-vazirmatn: 'Vazirmatn', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  direction: rtl;
}

body {
  font-family: var(--font-vazirmatn), sans-serif;
  direction: rtl;
  text-align: right;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

